body{
    min-height: 75rem;
    padding-top: 4.5rem;
}
.card-img-top{
    width: 100%;
    height: 26rem;
}

.text-overflow{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-overflow-1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.err{
    height:80dvh;
    width: 100%;
}